######################################################################################################
# Enviroment Secrets
######################################################################################################

variable "subscription_id" {
  description = ""
  default     = "**********"
}

variable "client_id" {
  description = ""
  default     = "**********"
}

variable "client_secret" {
  description = ""
  default     = "**********"
}

variable "tenant_id" {
  description = ""
  default     = "**********"
}

######################################################################################################
# Service Secrets
######################################################################################################

variable "db_password_prod" {
  description = ""
  default     = "**********"
}

variable "db_password_dev" {
  description = ""
  default     = "**********"
}

variable "server_password" {
  description = ""
  default     = "**********"
}
