<!DOCTYPE html>
<html>
<head>
<title>{{ ansible_hostname }} ({{ location }})</title>
<body>
<h3>{{ ansible_hostname }} ({{ location }}) <br>AzureCluster:({{ app.name }}) AG URL:({{ app.url }}) BUILD:({{ app.env }})<br> 
SG   : {{ app.name|replace("wp-","")|replace("sandbox-","sb-") }}-sg.whitespace.co.uk<br>
CB   : {{ app.name|replace("wp-","")|replace("sandbox-","sb-") }}-cb.whitespace.co.uk<br>
CBAd : https://{{ app.name|replace("wp-","")|replace("sandbox-","sb-") }}-cb.whitespace.co.uk:18100 <br>
SGAd : 18200/cbadmin/ <br>
SH   : 2220
</h3>
</body>
</html>