<!DOCTYPE html>
<html>
<head>
<title>{{ ansible_hostname }} ({{ location }})</title>
<body>
<h3>{{ ansible_hostname }} ({{ location }}) <br>AzureCluster:({{ app.name }}) AG URL:({{ app.url }}) BUILD:({{ app.env }})<br> 
<table>
<tr><td>SG   </td><td>: {{ app.name|replace("wp-","")|replace("sandbox-","sb-") }}-sg.whitespace.co.uk</td></tr>
<tr><td>CB   </td><td>: {{ app.name|replace("wp-","")|replace("sandbox-","sb-") }}-cb.whitespace.co.uk</td></tr>
<tr><td>CBAd </td><td>: https://{{ app.name|replace("wp-","")|replace("sandbox-","sb-") }}-cb.whitespace.co.uk:18100</td></tr>
<tr><td>SGAd </td><td>: 18200/cbadmin/ </td></tr>
<tr><td>SH   </td><td>: 2220 </td></tr>
</table>
</h3>
</body>
</html>