<!DOCTYPE html>
<html>
<head>
<title>{{ ansible_hostname }} ({{ location }})</title>
<body>
<h1>{{ ansible_hostname }} ({{ location }}) <br>AzureCluster:({{ app.name }}) AG URL:({{ app.url }}) ({{ app.env }}) </h1>
<pre>
{{ app.name|replace("wp-","")|replace("sandbox-","sb-") }}
SGAd 18100
CBAd 18200
</pre>
</body>
</html>